@use '../../styles/breakpoints' as *;
@use '../../styles/mixins' as *;

.new-games-wrapper {
  @include section-container;

  padding-top: var(--size-6);
}

.new-games__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--size-2);
}
